

body{
    background-image: url("city1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: auto;
}

#clock{
    margin: auto;
    padding-top: 10%;
    padding-left: 32.5%;
}

.time{
    float: left;
    color: pink;
    font-size: 800%;
    font-family: 'Orbitron', sans-serif;
}

