
* {
    margin: 0px;
    padding: 0px;
}


Body {
    background-color: black;
    width: 0%;
    height: 0%;
    list-style-type: none;
    position: fixed;
}

#canvas{
    background-color: tomato;
}